.news-section {
  padding: 80px 40px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
}

/* HEADINGS */
.news-heading {
  font-size: 40px;
  font-weight: 700;
  color: rgba(63, 34, 74, 1);
  margin-bottom: 12px;
}

.news-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: rgba(63, 34, 74, 1);
  margin-bottom: 32px;
}

/* TABS */
.news-tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}

.tab-btn {
  padding: 10px 22px;
  border-radius: 24px;
  border: 1px solid rgba(189, 187, 191, 1);
  background: rgba(228, 227, 229, 1);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: rgba(80, 77, 83, 1);
}

.tab-btn.active {
  background: rgba(176, 104, 205, 1);
  color: rgba(255, 255, 255, 1);
  border-color: rgba(189, 187, 191, 1);
}

/* GRID */
.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* CARD */
.news-card {
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border: 1px solid rgba(189, 187, 191, 1);
  padding: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGE */
.news-img-wrapper {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.news-img-wrapper img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

/* BADGES */
.news-badges {
  position: absolute;
  bottom: 12px;
  left: 12px;
  display: flex;
  gap: 8px;
}

.badge {
  background: rgba(233, 234, 235, 1);
  border: 1px solid rgba(189, 187, 191, 1);
  padding: 6px 10px;
  border-radius: 16px;
  font-size: 10px;
  font-weight: 700;
  color: rgba(48, 45, 49, 1);
}
.badgeType {
  background: rgba(236, 223, 242, 1);
  border: 1px solid rgba(189, 187, 191, 1);
  padding: 6px 10px;
  border-radius: 16px;
  font-size: 10px;
  font-weight: 700;
  color: rgba(48, 45, 49, 1);
}

/* TITLE */
.news-title {
  font-size: 18px;
  font-weight: 600;
  color: rgba(63, 34, 74, 1);
  margin: 16px 0;
  text-align: left;
}

/* READ MORE */
.read-more {
  background: rgba(236, 223, 242, 1);
  border: 1px solid rgba(189, 187, 191, 1);
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(63, 34, 74, 1);
}

/* VIEW ALL */
.view-all {
  margin-top: 40px;
  padding: 12px 28px;
  border-radius: 24px;
  border: 1px solid rgba(189, 187, 191, 1);
  background: rgba(228, 227, 229, 1);
  font-weight: 600;
  color: rgba(80, 77, 83, 1);
  font-size: 16px;
  cursor: pointer;
}
