/* PAGE */
.ictc-service-page {
  background: rgba(255, 255, 255, 1);
  padding: 48px 48px 0px 48px;
  font-family: "DM Sans", sans-serif;
}

/* HERO CARD */
.ictc-service-hero-card {
  background: rgba(255, 255, 255, 1);
  border: 1px solid var(--grey-100, rgba(228, 227, 229, 1));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);

  border-radius: 24px;
  overflow: hidden;

  margin-bottom: 48px;
}

.ictc-service-hero-card img {
  width: 100%;
  height: 260px;
  border-radius: 24px;
  object-fit: cover;
}

.ictc-service-hero-title {
  padding: 24px 32px;
  font-size: 30px;
  font-weight: 700;
  color: rgba(48, 45, 49, 1);
}

/* CONTENT */

.ictc-service-content p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(48, 45, 49, 1);
  line-height: 1.7;
  margin-bottom: 18px;
}

.ictc-service-content h3 {
  margin: 32px 0 12px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(48, 45, 49, 1);
}

.ictc-service-content ul {
  padding-left: 20px;
  margin-bottom: 24px;
}

.ictc-service-content li {
  font-size: 16px;
  color: rgba(48, 45, 49, 1);
  font-weight: 400;
  margin-bottom: 10px;
}

.ictc-service-content img {
  width: 100%;
  border-radius: 24px;

}

/* FAQ */
.ictc-service-faq {
  margin-top: 80px;
}

.ictc-service-faq h2 {
  color: rgba(48, 45, 49, 1);
  font-weight: 700;

  font-size: 30px;
  margin-bottom: 32px;
}

/* FAQ ITEM */
.ictc-faq-item {
  background: rgba(255, 255, 255, 1);
  border: 1px solid var(--grey-100, rgba(228, 227, 229, 1));
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}



.ictc-faq-active {
 border: 1px solid var(--primary-300, rgba(176, 104, 205, 1));
  background: rgba(255, 255, 255, 1);
  color: rgba(105, 60, 121, 1);
}

/* QUESTION */
.ictc-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: rgba(18, 16, 18, 1);
}
.ictc-faq-item:nth-child(3) {
  background: rgba(236, 223, 242, 1);
  border: 1px solid var(--grey-100, rgba(228, 227, 229, 1));
}
.ictc-faq-question img {
  width: 32px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

/* ANSWER */
.ictc-faq-answer {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(18, 16, 18, 1);
}
