.our-center-hero {
  font-family: "DM Sans", sans-serif;

}

/* HERO IMAGE */
.hero-banner {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* INFO SECTION */
.center-info {
  padding: 60px 40px 80px;
  text-align: center;
  background: rgba(250, 250, 250, 1);
}

.center-info h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(63, 34, 74, 1);
  margin-bottom: 20px;
}

/* RATING */
.rating-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

.stars {
  display: flex;
  gap: 6px;
}

.stars img {
  width: 28px;
}

.stars .dim {
  opacity: 0.5;
}

.rating-text {
  font-size: 24px;
  font-weight: 600;
  color: rgba(18, 16, 18, 1);
}

.divider {
  margin: 0 8px;
}

/* PHONE */
.contact-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.contact-row img {
  width: 28px;
}

.phone {
  font-size: 30px;
  font-weight: 600;
  color: rgba(105, 60, 121, 1);
}

.addTitle{
    font-weight: 600;
   font-size: 24px;
   color: rgba(18, 16, 18, 1);
}

/* ADDRESS */
.address-row {
  max-width: 760px;
  margin: 0 auto 16px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: flex-start;
  color: rgba(18, 16, 18, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

.address-row img {
  width: 28px;
  margin-top: 4px;
}

/* TIMING */
.timing {
  font-size: 20px;
  font-weight: 600;
  color: rgba(18, 16, 18, 1);
  margin-top: 12px;
}


/* ADDRESS BLOCK */
.address-block {
  max-width: 760px;
  margin: 0 auto 16px;
  text-align: center;
}

.address-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.address-title img {
  width: 28px;
}

.address-text {
  font-size: 20px;
  font-weight: 400;
  color: rgba(18, 16, 18, 1);
  line-height: 1.6;
}
