.network-wrapper {
  padding: 80px 40px;
  background: rgba(48, 45, 49, 1);
  font-family: "DM Sans", sans-serif;
}

.network-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 48px;
}

/* LEFT */
.network-left {
  width: 380px;
}

.network-left h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(236, 223, 242, 1);
  margin-bottom: 32px;
}

/* LOCATION PILLS */
.location-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.location-pill {
  padding: 12px 20px;
  border-radius: 24px;
  border: 1px solid rgba(250, 250, 250, 1);
  background: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}

.location-pill.active {
  
  border: 1px solid rgba(250, 250, 250, 1);
  background: rgba(236, 223, 242, 1);
  color: rgba(63, 34, 74, 1);
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}

/* STATS */
.network-stats {
  margin-top: 48px;
}

.network-stats h1 {
  font-size: 80px;
  font-weight: 900;
  color: rgba(209, 176, 224, 1);
  margin-bottom: 8px;
}

.network-stats p {
  font-size: 40px;
  font-weight: 900;
  color: rgba(250, 250, 250, 1);
  line-height: 1.2;
}

/* RIGHT MAP */
.network-map {
  flex: 1;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 720px;
}

/* MAP */
.network-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* PHONE BADGE */
.map-phone-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(48, 45, 49, 1);
  border: 1px solid rgba(63, 34, 74, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 16px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
}
