@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ================================
   Global CSS Reset (Modern)
================================ */

/* 1. Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Remove default body styles */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



/* 4. Remove list styles */
ul,
ol {
  list-style: none;
}

/* 5. Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}



/* 7. Form elements */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

/* 8. Button reset */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 9. Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 10. Prevent text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
