.center-breadcrumb {
  padding: 10px 30px;
  font-family: "DM Sans", sans-serif;
  background: rgba(250, 250, 250, 1);
}

.center-breadcrumb__content {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  border: 1px solid var(--grey-100, rgba(228, 227, 229, 1));

  background: rgba(255, 255, 255, 1);
  border-radius: 999px;
  padding: 5px 20px;

 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02) inset;

}

.center-breadcrumb__home {
  width: 18px;
  height: 18px;
}

.center-breadcrumb__sep {
  font-size: 28px;
  color: rgba(80, 77, 83, 1);
  line-height: 1;
}

.center-breadcrumb__text {
  font-size: 12px;
  font-weight: 400;
  color: rgba(80, 77, 83, 1);
}

.center-breadcrumb__current {
  font-size: 12px;
  font-weight: 700;
  color: rgba(63, 34, 74, 1);
}
