.why-ictc {
  background: rgba(48, 45, 49, 1);
  padding: 80px 40px;
  font-family: "DM Sans", sans-serif;
}

.why-title {
  color: rgba(236, 223, 242, 1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: "DM Sans", sans-serif;
}

/* GRID */
.why-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* CARD */
.why-card {
  background: rgba(252, 245, 255, 1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;

  height: 90%;
}

/* TEXT */
.why-card-content {
  padding: 28px;
}

.why-card-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(63, 34, 74, 1);
  margin-bottom: 16px;

    font-family: "DM Sans", sans-serif;
}

.why-card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(48, 45, 49, 1);
    font-family: "DM Sans", sans-serif;
}

/* IMAGE */
.why-card-image {
  margin-top: auto;
}

.why-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .why-grid {
    grid-template-columns: 1fr;
  }

  .why-title {
    font-size: 28px;
  }
}
